body {
  background-image: "img/bluebg.jpg";
  width: 100%;
  background-color: black;
}

#background {
  opacity: 0.70;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -3;
}

.monitor img {
  z-index: -1;
  position: absolute;
  margin-top: 2%;
  width: 96%;
  margin-left: 2%;
  float: left;
}

.keyboard #monitor {
  z-index: -2;
  position: absolute;
  margin-top: 2%;
  width: 65%;
  margin-left: 28%;
  float: left;
  /*display:none;*/
}

.keyboard #board {
  z-index: -2;
  position: absolute;
  margin-top: 38%;
  width: 45%;
  margin-left: 20%;
  float: left;
}

.enterButton {
  position: absolute;
  margin-left: 52%;
  margin-top: 42.5%;
  width: 10%;
  /*length: 23%;*/
  height: 6%;
}

.form-control {
position: absolute;
margin-left: 23%;
margin-top: 42.5%;
width: 29%;
length: 23%;
height: 6%;
}

.goButton {
  position: fixed;
  margin-top: 220px;
  margin-left: 25%;
  background-color: white;
  z-index: 1;
  width: 50%;
}

@media screen and (max-width: 733px) {
  .goButton {
    margin-top: 80px;
    width: 75%;
    margin-left: 10%;
  }
}

/*.Question-dropdown {
  position: absolute;
  margin-left: 10%;
  margin-top: 60%;
  width: 25%;
}*/



/*.Question-dropdown {
  position: absolute;
  margin-left: 65%;
  margin-top: 20%;
  width: 50%;
  z-index: 1;
  color: white;
}*/

h3 {
  position:fixed;
  margin-left: 33%;
  margin-top: 10%;
  width: 55%;
  z-index: 1;
  color: white;
}

.Questions {
  display: none;
}

.well {
  display: none;
}
