body {
  background-image: "img/bluebg.jpg";
  width: 100%;
  background-color: black;
}

#background {
  opacity: 0.70;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -2;
}

.monitor img {
  z-index: -1;
  position: absolute;
  margin-top: 2%;
  width: 96%;
  margin-left: 2%;
}

.goButton {
  position: fixed;
  margin-top: 220px;
  margin-left: 25%;
  background-color: white;
  z-index: 1;
  width: 50%;
}

@media screen and (max-width: 733px) {
  .goButton {
    margin-top: 80px;
    width: 75%;
    margin-left: 10%;
  }
}

.form-control {
  position: absolute;
  margin-left: 10%;
  margin-top: 60%;
  width: 25%;
}

.questions-monitor {
  position: absolute;
  margin-left: 80%;
  margin-top: 20%;
  width: 50%;
  z-index: 1;
  color: white;
}
